<html>
<head>
<style>
body{
  background: #36394B;
  height: 100%;
}

#container{
  margin: 0 auto;
  padding-top: 2%;
}
</style>
<script type="text/javascript">
function call(){
$(function () { 
  Highcharts.setOptions({
    colors: ['#67BCE6'],
    chart: {
        style: {
            fontFamily: 'sans-serif',
            color: '#fff'
        }
    }
});  
  $('#container').highcharts({
        chart: {
            type: 'column',
            backgroundColor: '#36394B'
        },
        title: {
            text: 'Weekly Revenue',
            style: {  
              color: '#fff'
            }
        },
        xAxis: {
            tickWidth: 0,
            labels: {
              style: {
                  color: '#fff',
                 }
              },
            categories: ['May 5', 'May 6', 'May 7', 'May 8', 'May 9', 'May 10', 'May 11']
        },
        yAxis: {
           gridLineWidth: .5,
          gridLineDashStyle: 'dash',
          gridLineColor: 'black',
           title: {
                text: '',
                style: {
                  color: '#fff'
                 }
            },
            labels: {
              formatter: function() {
                        return Highcharts.numberFormat(this.value, 0, '', ',');
                    },
              style: {
                  color: '#fff',
                 }
              }
            },
        legend: {
            enabled: false,
        },
        credits: {
            enabled: false
        },
        tooltip: {
           valuePrefix: ''
        },
        plotOptions: {
          column: {
            borderRadius: 2,
             pointPadding: 0,
            groupPadding: 0.1
            } 
        },
        series: [{
            name: 'Revenue',
            data: [10, 20, 50, 40, 20, 10, 0]
        }]
    });
});}
</script>
</head>
<body onload="call()">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<div id="container" style="width:50%; height:400px;"></div>
</body>
</html>